<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
-->
 <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 {% load static %}
{% block page_content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


   <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 
 <style> 
    body{
      border-top: 4px  solid #ffbf00;
      /* min-height: 500px; */
      background: url("{% static 'flan.jpg' %}") no-repeat center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      /* background-image: url("{% static 'flan.jpg' %}" ); */
      /* background-repeat: repeat-y;  */
    }
  input[type=button], input[type=submit], input[type=reset] {
    background-color: #c7351b;
    border: none;
    color: white;
    padding: 14px 128px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
  }
  </style>

 <body>


    <!-- <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a  href="#" >Home</a>
          <ul class="right">
            <li><a href="https://github.com/angelmanzur/Room_for_dessert">Github</a></li>
          </ul>
        </div>
      </nav> -->


    <div class="container" style="text-align:center; padding: 20px">
      <footer>
        <p> Leave Room for Dessert 2019</p>
      </footer>
    </div> 

 </body>
